@if (note) {

  <!-- ZURÜCK -->
  <div class="ui grid">
    <div class="twelve wide column">
      <button [routerLink]="'/notes'" class="circular ui icon button">
        <i class="icon arrow left"></i>
      </button>
      <!-- LISTE -->
      <div class="ui small label ui">
        Die Notiz befindet sich in Liste {{ note.listoverview_id }}
      </div>
    </div>
    <div class="four wide column right aligned">
      <!-- UPDATEN  sf-->
      <button [routerLink]="['../../admin', note.id]" class="circular ui icon button">
        <i class="icon pencil alternate"></i>
      </button>

      <!-- LÖSCHEN -->
      <button (click)="removeNote()" class="circular red ui icon button">
        <i class="icon trash"></i>
      </button>
    </div>
  </div>


  <!-- TITEL -->
  <div class="ui segment">
    <h2 class="ui header">{{ note.title }}</h2>

    <!-- LABEL(S) -->
    @for (label of note.labels; track label) {
      <div class="ui tag label"> {{ label.name }}</div>
    }


    <!-- BESCHREIBUNG -->
    <h5 class="ui header">
      <i class="quote left icon"></i>
      <div class="content">
        Beschreibung
        <div class="sub header"> {{ note.description }}</div>
      </div>
    </h5>

    <div class="ui hidden divider"></div>
    <div class="ui divider"></div>

    <!-- BILDER -->
    <div>
      @if (note.images && note.images[0]) {
        <h4>Bilder</h4>
        <div class="ui small images">
          @for (thumbnail of note.images; track thumbnail) {
            <img class="ui rounded image"
                 [src]="thumbnail.url"> <!-- Mit eckigen Klammern hat man Property Mapping -- dynamisch zusweisen -->
          }
        </div>
      }
    </div>

  </div>

  <div class="ui hidden divider"></div>

  <!-- TO DO -->
  <div>
    <h3 class="ui header">Todos</h3>
    <div class="ui cards">
      @for (todo of note.todos; track todo) {
        <div class="card small">
          <div class="content">
            <h4>{{ todo.title }}</h4>
            <div class="meta">Fällig am {{ todo.due | date: 'longDate'}}</div>
            <div class="description">
              {{ todo.description }}
            </div>
          </div>
        </div>
      }
    </div>
  </div>

}
