<div class="ui">
  <div class="ui mini label ui">
    Marie Hilmer / s2110456011
  </div>
</div>

<div class="ui hidden divider"></div>

<!-- Logo -->
<div class="ui container">
  <h2 class="ui header">
    <i class="deskpro icon green"></i>
    <div class="content">
      KWM Evernote
      <div class="sub header">
        <div class="ui mini label">
          manage your notes
        </div>
      </div>
    </div>
  </h2>

  <!-- Menü -->
  <div class="ui inverted menu">
    <a routerLink="home" routerLinkActive="active" class="active item">
      Home
    </a>
    <a routerLink="notes" routerLinkActive="active" class="item">
      Notizen
    </a>
    <a routerLink="todos" routerLinkActive="active" class="item">
      To Do's
    </a>
  </div>

  <!-- Inhalt, der je nach Route nachgeladen wird -->
  <router-outlet></router-outlet>
</div>
